<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.laughing.lib.base">

   <application>

       <activity android:name="com.laughing.lib.base.HContainerActivity" />
       <activity android:name="com.laughing.lib.player.HVideoPlayActivity" />
   </application>

</manifest>